name: Build and test

# **What it does**: Runs tests.
# **Why we have it**: Ensures tests pass before merging code.

on:
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "*.md"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "*.md"
    types: [opened, ready_for_review, reopened, synchronize]

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  dependency-review:
    name: Dependency Review
    if: >
        github.event.pull_request.draft == false &&
        github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Dependency review
        uses: actions/dependency-review-action@ce3cf9537a52e8119d91fd484ab5b8a807627bf8 # v4.6.0

  lint:
    name: Lint
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          cache: npm
          check-latest: true
          node-version: lts/*

      - name: Install
        run: npm ci --ignore-scripts

      - name: Audit NPM package signatures and provenance attestations
        run: npm audit signatures

      - name: Run ESLint
        run: npm run lint

      - name: Run Lockfile Linter
        run: npm run lint:lockfile

      - name: Run build
        run: npm run build --if-present

  unit-tests:  
    name: Unit Tests
    if: github.event.pull_request.draft == false
    strategy:
      matrix:
        node-version: [20, 22, 24]
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    permissions:
        contents: read
    steps:
      - name: Check out repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          cache: npm
          check-latest: true
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: npm ci --ignore-scripts

      - name: Run tests
        run: npm t
